/* 
# FONTS

- Poppins (400 and 700) - https://fonts.google.com/specimen/Poppins

# COLORS

- background color: #EFF0F6
- border color: #d7d6fc
- primary purple: #6B00F5
- Pattens Blue: #e1f0fe
- Ghost White: #f7f7ff
- White Ice: #defef0

*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

ul,
ol {
  list-style: none;
}

body {
  background-color: #e8e9ee;
}

/* MAIN///////////////////// */
.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
}
.main .seccion {
  background-color: white;
  width: 100%;
  min-height: 600px;
  max-width: 480px;
  box-shadow: 0 0 15px 0px #cfd4f0;
  border-radius: 2rem;
  overflow: hidden;
}
.main .seccion__header {
  font-size: 3rem;
  font-weight: 700;
  padding: 4rem;
}
.main .seccion1 {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
  padding-bottom: 5rem;
}
.main .seccion1__contenedor-platos {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(255, 159, 100);
  background-color: white;
  gap: 3.5rem;
}
.main .seccion1__contenedor-platos .plato {
  width: calc(100% - 3rem);
  height: 150px;
  background-color: #e4f0fd;
  margin-left: 3rem;
  display: flex;
  border-radius: 2rem 0 0 2rem;
}
.main .seccion1__contenedor-platos .plato:nth-child(2n) {
  background-color: #fbe4f0;
}
.main .seccion1__contenedor-platos .plato__imagen {
  width: 180px;
  height: 150px;
  transform: translate(-20px, -20px);
  background-image: url(../img/assets/platos/plate__bacon-eggs.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.main .seccion1__contenedor-platos .plato__contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translate(0, 20px);
  gap: 1rem;
}
.main .seccion1__contenedor-platos .plato__nombre {
  font-size: 2rem;
  font-weight: 300;
  line-height: 20px;
}
.main .seccion1__contenedor-platos .plato__precio {
  font-size: 3.2rem;
  font-weight: 700;
}
.main .seccion1__contenedor-platos .plato__boton {
  background-color: #6b00f5;
  color: white;
  border: none;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 0.2rem 2rem;
  border-radius: 1.5rem;
  width: max-content;
}
.main .seccion1__contenedor-platos .plato__boton:hover {
  background-color: #5900ce;
}
.main .seccion2 .contenedor-elementos {
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
}
.main .seccion2 .contenedor-elementos .elemento {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 0 0;
  gap: 2rem;
  border-bottom: 2px solid #d7d7f9;
}
.main .seccion2 .contenedor-elementos .elemento__imagen {
  width: 150px;
  height: 150px;
  transform: translate(0, -10px);
  background-image: url(../img/assets/platos/plate__fish-sticks-fries.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translate(0px, -10px);
}
.main .seccion2 .contenedor-elementos .elemento div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 250px;
}
.main .seccion2 .contenedor-elementos .elemento div .header {
  display: flex;
  flex-direction: column;
}
.main .seccion2 .contenedor-elementos .elemento div .header .nombre {
  font-weight: 400;
}
.main .seccion2 .contenedor-elementos .elemento div .header .precio-unitario {
  font-weight: 700;
  font-size: 1.8rem;
}
.main .seccion2 .contenedor-elementos .elemento div .main {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  justify-content: space-between;
}
.main .seccion2 .contenedor-elementos .elemento div .main__nav {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: max-content;
}
.main .seccion2 .contenedor-elementos .elemento div .main__nav button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #6b00f5;
  color: white;
}
.main .seccion2 .contenedor-elementos .elemento div .main__nav span {
  font-weight: bold;
}
.main .seccion2 .contenedor-elementos .elemento div .main__precio {
  font-size: 3rem;
  font-weight: 700;
  width: max-content;
}
.main .seccion2 .contenedor-elementos .elemento:last-child {
  border-bottom: 6px solid #d7d7f9;
}
.main .seccion2 .contenedor-resultados {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-end;
}
.main .seccion2 .contenedor-resultados div {
  background-color: blue;
  display: flex;
  align-items: center;
}
.main .seccion2 .contenedor-resultados div span {
  color: red;
  font-weight: 600;
}
.main .seccion2 .contenedor-resultados div p {
  font-size: 3rem;
  font-weight: 700;
}

/* FOOTER///////////////////// */
.footer {
  height: 10rem;
  display: flex;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer a {
  font-weight: 600;
  color: black;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
