/* 
# FONTS

- Poppins (400 and 700) - https://fonts.google.com/specimen/Poppins

# COLORS

- background color: #EFF0F6
- border color: #d7d6fc
- primary purple: #6B00F5
- Pattens Blue: #e1f0fe
- Ghost White: #f7f7ff
- White Ice: #defef0

*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
}
html {
  font-size: 62.5%;
}
ul,
ol {
  list-style: none;
}
/* MAIN///////////////////// */
.main {
  background-color: rgb(255, 158, 210);
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .seccion {
    background-color: greenyellow;
    width: 100%;
    min-height: 600px;
    max-width: 480px;
    border: 2px solid black;

    &__header {
      background-color: yellow;
      font-size: 3rem;
      font-weight: 700;
      padding: 4rem;
    }
  }

  .seccion1 {
    background-color: red;
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;

    &__contenedor-platos {
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: rgb(255, 159, 100);
      gap: 3.5rem;

      .plato {
        width: calc(100% - 3rem);
        height: 150px;
        background-color: rgb(195, 146, 255);
        margin-left: 3rem;
        display: flex;
        border-radius: 2rem;

        &__imagen {
          // background-color: gray;
          width: 150px;
          height: 150px;
          transform: translate(-20px, -20px);
          background-image: url(../img/assets/platos/plate__bacon-eggs.png);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }

        &__contenedor {
          // background-color: aqua;
          display: flex;
          flex-direction: column;
          justify-content: center;
          transform: translate(0, 20px);
          gap: 1rem;
        }

        &__nombre {
          // background-color: green;
          font-size: 2rem;
          font-weight: 300;
          line-height: 20px;
        }

        &__precio {
          // background-color: goldenrod;
          font-size: 3.2rem;
          font-weight: 700;
        }

        &__boton {
          background-color: #6b00f5;
          color: white;
          border: none;
          font-size: 1.8rem;
          font-weight: 600;
          padding: 0.2rem 2rem;
          border-radius: 1.5rem;
          // transform: translate(0, 20px);
          width: max-content;
        }
      }
    }
  }

  .seccion2 {
    background-color: blue;

    .contenedor-elementos {
      background-color: green;
      width: 100%;
      min-height: 400px;
      display: flex;
      flex-direction: column;
      // gap: 1.5rem;
      padding: 0 2rem;

      .elemento {
        background-color: aqua;
        width: 100%;
        display: flex;
        padding: 3rem 0;
        gap: 2rem;
        border-bottom: 2px solid red;

        &__imagen {
          width: 100px;
          height: 100px;
          background-color: gray;
          transform: translate(0, -10px);
          background-image: url(../img/assets/platos/plate__fish-sticks-fries.png);
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
        }

        div {
          background-color: chocolate;
          display: flex;
          flex-direction: column;
          gap: 2rem;
          min-width: 250px;

          .header {
            background-color: yellow;
            display: flex;
            flex-direction: column;

            .nombre {
              background-color: rgb(37, 37, 186);
              color: white;
              font-weight: 400;
            }
            .precio-unitario {
              background-color: rgb(88, 161, 31);
              color: white;
              font-weight: 600;
            }
          }

          .main {
            display: flex;
            flex-direction: row;
            background-color: #6b00f5;
            justify-content: space-between;

            &__nav {
              background-color: rgb(232, 80, 255);
              display: flex;
              align-items: center;
              gap: 2rem;
              width: max-content;

              button {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: none;
              }

              span {
                font-weight: bold;
              }
            }

            &__precio {
              background-color: yellow;
              font-size: 3rem;
              font-weight: 700;
              width: max-content;
            }
          }
        }

        &:last-child {
          border-bottom: 6px solid red;
        }
      }
    }
    .contenedor-resultados {
      background-color: pink;
      width: 100%;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: flex-end;

      div {
        background-color: blue;
        display: flex;
        align-items: center;

        span {
          color: red;
          font-weight: 600;
        }
        p {
          font-size: 3rem;
          font-weight: 700;
        }
      }
    }
  }
}

/* FOOTER///////////////////// */
.footer {
  background-color: rgb(195, 195, 195);
  height: 10rem;
  display: flex;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    font-weight: 600;
    color: black;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
