/* 
# COLORS

- border color: #d7d6fc

- Pattens Blue: #e1f0fe
- Ghost White: #f7f7ff
- White Ice: #defef0

- background color: #EFF0F6
- primary purple: #6B00F5
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
}
html {
  font-size: 62.5%;
}
ul,
ol {
  list-style: none;
}
body {
  background-color: #e8e9ee;
  position: relative;
}

.contenedor-fondos {
  display: none;

  .pieza {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    // border: 1px solid black;
    z-index: -1;
  }
  .pieza:nth-child(1) {
    background-image: url(../img/assets/icons/bg__top-right.svg);
    top: 0;
    right: 0;
    width: 450px;
    height: 300px;
    background-position: top right;
    background-size: 500px;
  }
  .pieza:nth-child(2) {
    background-image: url(../img/assets/icons/bg__left.svg);
    left: 0;
    top: calc(50% - 300px);
    background-position: left;
    width: 260px;
    height: 600px;
    background-size: 250px;
  }
  .pieza:nth-child(3) {
    background-image: url(../img/assets/icons/bg__btm-right.svg);
    bottom: 0;
    right: 0;
    background-position: right bottom;
    width: 440px;
    height: 500px;
    background-size: 500px;
  }
}
/* MAIN///////////////////// */
.main {
  // background-color: rgb(255, 158, 210);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;

  justify-content: center;
  align-items: flex-start;
  // padding: 5rem 0;

  .seccion {
    // background-color: greenyellow;
    background-color: white;
    width: 100%;
    max-width: 480px;
    max-width: 380px;

    // border: 2px solid black;
    overflow: hidden;

    // min-height: 600px;
    height: max-content;

    min-height: 720px; /* provisional */

    &__header {
      // background-color: yellow;
      padding: 4rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h2 {
        font-size: 3rem;
        font-weight: 700;
      }
      i {
        font-size: 3rem;
        position: relative;
        transition: 0.2s;

        &:hover {
          transform: scaleX(1.25) scaleY(1.25);
        }

        span {
          background-color: red;
          color: white;
          position: absolute;
          font-size: 1.8rem;
          border-radius: 100%;
          width: 25px;
          height: 25px;
          display: flex;
          justify-content: center;
          align-items: center;
          top: -15px;
          left: 20px;
          font-weight: 500;
        }
      }
    }
  }

  .seccion1 {
    // background-color: red;
    display: flex;
    flex-direction: column;
    padding-bottom: 7rem;

    &__contenedor-platos {
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: rgb(255, 159, 100);
      background-color: white;
      gap: 3.5rem;

      .plato {
        width: calc(100% - 3rem);
        height: 150px;
        background-color: #e4f0fd;
        margin-left: 3rem;
        display: flex;
        border-radius: 2rem 0 0 2rem;

        &:nth-child(2n) {
          background-color: #fbe4f0;
        }

        &__imagen {
          // background-color: gray;
          width: 180px;
          height: 150px;
          transform: translate(-20px, -20px);
          background-image: url(../img/assets/platos/plate__bacon-eggs.png);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }

        &__contenedor {
          // background-color: aqua;
          display: flex;
          flex-direction: column;
          justify-content: center;
          transform: translate(0, 20px);
          gap: 1rem;
        }

        &__nombre {
          // background-color: green;
          font-size: 2rem;
          font-weight: 300;
          line-height: 20px;
        }

        &__precio {
          // background-color: goldenrod;
          font-size: 3.2rem;
          font-weight: 700;
        }

        &__boton {
          background-color: #6b00f5;
          color: white;
          border: none;
          font-size: 1.8rem;
          font-weight: 600;
          padding: 0.2rem 2rem;
          border-radius: 1.5rem;
          // transform: translate(0, 20px);
          width: max-content;
          transition: 0.3s;

          &:hover {
            background-color: #5900ce;
            transform: scaleX(1.15) scaleY(1.15);
          }
        }
      }
    }
  }

  .seccion2 {
    // background-color: blue;

    .contenedor-elementos {
      // background-color: rgb(78, 207, 78);
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 0 2.5rem;
      transform: translateY(-35px);

      .elemento {
        // background-color: rgb(186, 255, 255);
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        border-bottom: 2px solid #d7d7f9;
        // border-bottom: 2px solid black;

        padding: 3rem 0;

        &__imagen {
          width: 80px;
          height: 80px;
          // background-color: gray;
          transform: translate(0, -10px);
          background-image: url(../img/assets/platos/plate__fish-sticks-fries.png);
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          transform: translate(0px, -10px);
          display: flex;
          align-items: center;
          justify-content: center;

          &__numero {
            background-color: black;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
              font-size: 1.8rem;
              font-weight: 600;
              color: white;
            }
          }
        }

        &__contenedor {
          // background-color: rgb(255, 198, 157);
          display: flex;
          flex-direction: column;
          gap: 1rem;
          width: 250px;

          .elemento__header {
            // background-color: yellow;
            display: flex;
            flex-direction: column;
            // border: 1px solid black;

            .nombre {
              // background-color: rgb(145, 145, 255);
              font-weight: 400;
              font-size: 1.8rem;
            }
            .precio-unitario {
              // background-color: rgb(173, 255, 111);
              font-weight: 700;
              font-size: 1.8rem;
            }
          }

          .elemento__main {
            display: flex;
            flex-direction: row;
            background-color: transparent;
            justify-content: space-between;
            // background-color: #00e1f5;
            // border: 1px solid black;

            .main__nav {
              // background-color: rgb(238, 127, 255);
              display: flex;
              align-items: center;
              width: max-content;
              width: 110px;
              justify-content: space-between;

              button {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                border: none;
                background-color: #6b00f5;
                color: white;
                background-image: url(../img/assets/icons/chevron.svg);
                background-position: 10.5px;
                background-repeat: no-repeat;
                transition: 0.3s;

                &:last-child {
                  // background-color: red;
                  transform: rotateZ(180deg);

                  &:hover {
                    background-color: #620dd0;
                    transform: scaleX(1.15) scaleY(1.15) rotateZ(180deg);
                  }
                }

                &:hover {
                  background-color: #620dd0;
                  transform: scaleX(1.15) scaleY(1.15);
                }
              }

              span {
                font-weight: bold;
                font-size: 1.8rem;
              }
            }

            .main__precio {
              // background-color: yellow;
              font-size: 3rem;
              font-weight: 700;
              width: max-content;
            }
          }
        }

        &:last-child {
          border-bottom: 5px solid #d7d7f9;
        }
      }
    }
    .contenedor-resultados {
      // border: 1px solid black;
      // background-color: rgb(255, 192, 255);
      width: 100%;
      padding: 0 2rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: flex-end;
      padding-bottom: 10rem;

      div {
        // background-color: yellow;

        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto auto;
        gap: 0.7rem 0rem;

        span {
          font-weight: 700;
          display: flex;
          justify-content: end;
          align-items: flex-end;
          font-size: 1.8rem;
          padding: 0.6rem 2.5rem;
        }
        p {
          font-size: 3rem;
          font-weight: 700;

          display: flex;
          justify-content: end;
          align-items: flex-end;

          &:last-child {
            color: #6b00f5;
          }
        }
      }
    }
  }
}

@media (min-width: 400px) {
  .contenedor-fondos {
    display: inherit;
  }
  .main {
    padding: 5rem 0; /* provisional */
    gap: 5rem;
  }

  .seccion {
    border-radius: 2rem;
    box-shadow: 0 0 20px 0px rgba(128, 128, 128, 0.2);
  }
}

@media (min-width: 827px) {
  .seccion {
    &__header {
      i {
        display: none;
      }
    }
  }
}
/* FOOTER///////////////////// */
.footer {
  // background-color: rgb(195, 195, 195);
  height: 10rem;
  display: flex;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    font-weight: 600;
    color: black;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
